.b-header{
	padding: 10px;
	color:#666;
}
.b-header-right{
	float: right;font-size: small
}
.b-header-right-link{
	color:#666;
	text-decoration: underline;
}
.b-header-right-link:hover{
	text-decoration: none;
}